/* Custom changes */

.primary-nav,
.secondary-nav,
.tertiary-nav,
.quaternary-nav {
    /*background-color: rgb(61, 9, 49);*/
}
/*.primary-nav {
    background-color: white;
}
.secondary-nav {
    background-color: white;
}
.tertiary-nav {
    background-color: white;
}
.quaternary-nav {
    background-color: white;
}*/