[submodule "vendor/quickcommerce"]
	path = vendor/quickcommerce
	url = https://github.com/bluecollardev/quickcommerce.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/bluecollardev/clients-phobulous-theme
