@import 'variables.scss';
/******************************
 Language/Currency
*******************************/

@media only screen and (max-width: 760px) {
  .journal-login{
    z-index: 9999 !important;
  }
}

.journal-login{
  position: relative;
  display: table;
  z-index: 998;

  > div{
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}
.journal-login > div:first-child{
  padding-left: 10px;
}
.journal-language, .journal-currency{
  z-index: 3;
  form{
    float: left;
    .currency-symbol{
      background-color: white;
      padding: 1px 5px;
      color: $red;
    }
  }

  .dropdown-toggle{
    width: $j-min;
    height: $j-min;
    color: $dark;
    padding: 0;
    font-size: 13px;
    border-color:transparent;
    background-color: transparent;
    img{
      position: relative;
      top: 1px;
    }
    .caret{
      display: none;
    }
  }

  .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .dropdown-menu{
    min-width: 40px;
    padding: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    margin: 0px 0;
    border: none;
    top: 39px;
    position: absolute;
    display: none;
    left: 0;
    z-index: 1000;
    float: left;
    list-style: none;
    font-size: 14px;
    background-clip: padding-box;
    background-color: white;

    > li{
      border-top: 1px solid $e4;
    }

    > li:first-of-type{
      border-top: none;
    }

    > li > a{
      text-align: center;
      font-size: 13px;
      padding: 5px 10px;
      color: $dark;
      cursor: pointer;
      display: block;
      line-height: 1.5;
      white-space: nowrap;

      img{
        position: relative;
        top: 1px;
      }
    }

    &:before{
      content: "\e61e";
      position: absolute;
      left: 50%;
      top: -13px;
      margin-left: -9px;
      color: white;
      font-size: 16px;
    }
    > li:first-of-type {
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
      a{
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
      }
    }
    > li:last-of-type {
      border-bottom-right-radius: inherit;
      border-bottom-left-radius: inherit;
      a{
        border-bottom-right-radius: inherit;
        border-bottom-left-radius: inherit;
      }
    }
  }
}

.open .dropdown-toggle.btn-default{
  color: $red;
  border-color: transparent;
  background-color:transparent;
}

.journal-header-default,
.journal-header-menu,
.journal-header-center,
.journal-header-mega{
  .language-full, .currency-full {
    .journal-language, .journal-currency {
      width: auto;
      display: inline-block !important;
      padding-right: 10px;
      .dropdown-toggle {
        width: auto;
        img{
          display: inline-block;
          margin-right: 2px;
        }
      }
      .dropdown-menu {
        left: auto !important;
        margin-left: 0 !important;
        > li > a{
          text-align: left;
          img{
            margin-right: 2px;
          }
        }
        &:before {
          top: -13px;
          margin-left: 0;
          left: 3px;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .language-full, .currency-full {
    .journal-login{
      padding: 5px 0;
    }
    .journal-language, .journal-currency {
      padding-left: 10px;
      .dropdown-toggle {
        height: auto;
      }
    }
  }
}