.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.m5 {
  margin: 5px;
}
.m10 {
  margin: 10px;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-right {
  text-align: right;
}

.loading-more-indicator {
  font-size: 30px;
  color: #727272;
}

.scroller-wrapper {
  position: relative;
  overflow: hidden;
  /* Prevent native touch events on Windows */
  -ms-touch-action: none;
  /* Prevent the callout on tap-hold and text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Prevent text resize on orientation change, useful for web-apps */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
.scroller {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  padding-bottom: 30px;
  /* Prevent elements to be highlighted on tap */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* Put the scroller into the HW Compositing layer right from the start */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.stickyHeader {
  margin-top: 50px;
  padding-top: 50px;
  display: block;
  background: #aaa;
}

html {
  -webkit-backface-visibility: hidden;
}
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-backface-visibility: hidden;
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
.snap-content {
  background: #eeeeee;
  min-height: 100%;
}
.nav-bar-icon {
  font-size: 180%;
}
.topcoat-list .nav-list .topcoat-list__item {
  padding: 0;
}
.topcoat-list .nav-list .topcoat-list__item a {
  display: block;
  padding: 1.25rem;
  height: inherit;
  color: #f3f3f3;
}

.ios7 {
  margin-top: 20px;
}

.snap-drawer {
  background: #464646;
  color: #ffffff;
}

.topcoat-navigation-bar {
  height: 3.5rem;
}
.topcoat-navigation-bar__item {
  line-height: 3.5rem;
}
.toptoptop {
  height: 1px;
}

