/******************************
MEGA-MENU BRANDS
*******************************/

.mega-menu-brands{
  .mega-menu-item {
    margin-bottom: 20px;
    img{
      width: 100%;
      float: left;
      height: auto;
    }
  }
}